<head>
    <title>{{username}}@conf.host</title>
    <link rel="stylesheet" href="/css/user.css">
    <!-- <script src="/js/user.js"></script> -->
</head>
<body>
    <h1>{{username}}@conf.host&#58;</h1>
    <table>
        <tr>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="mtime">Last modified</th>
        </tr>
        {{{results}}}
    </table>
</body>
