@import url('https://fonts.googleapis.com/css?family=Asap');

body {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    transition: 0.5s;
    font-family: asap
} .on {
    color: #222;
} .off {
    color: #DDD;
    background-color: #222;
}

h1, h2 {
    text-align: center;
}

ol {
    margin-left: auto;
}
a {
  text-decoration: none;
  color: #149;
}
a:hover { color: #941; }

pre {
    overflow-x: auto;
}

.mono {
    font-family: monaco, Consolas, Andale Mono, monospace;
    font-size-adjust: 0.45;
}

#beg {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 1em;
}

#toggle {
    position: absolute;
    bottom: 1em;
}

#message {
    color: #931;
    font-family: monospace;
}
