body {
    margin: 1em 2em;
    transition: 0.5s;
} .on {
    color: #111;
    background-color: #EEE;
} .off {
    color: #DDD;
    background-color: #222;
}

.mono {
    font-family: monaco, Consolas, Andale Mono, monospace;
    font-size-adjust: 0.45;
}

#toggle {
    position: absolute;
    bottom: 1em;
}
