table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B8"; }

body {
  color: #333;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-family: monospace; }

.flex {
  display: flex;
  margin: auto; }
  .flex div {
    min-width: 200px; }

a {
  text-decoration: none;
  color: #149; }
  a :hover {
    color: #941; }

#contents {
  overflow: auto;
  height: 100vh; }

tr .extension {
  text-align: right;
  padding-right: 0.5em; }

tr .filename {
  text-align: left; }

tr .filesize {
  text-align: right; }

tr .mtime {
  text-align: left; }

tr th {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  height: 2em; }

tr th, tr td {
  padding-right: 2em;
  white-space: nowrap; }
  tr th img, tr td img {
    height: 1em;
    width: 1em; }

#footer {
  margin-top: 1em;
  margin-bottom: 0.5em; }
